<p id="notice"><%= notice %></p>

<h1>Servidors</h1>

<table>
  <thead>
    <tr>
      <th>Noms</th>
      <th>Dirip</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servidors.each do |servidor| %>
      <tr>
        <td><%= servidor.noms %></td>
        <td><%= servidor.dirip %></td>
        <td><%= servidor.password %></td>   
        <td><%= link_to 'Show', servidor %></td>
        <td><%= link_to 'Edit', edit_servidor_path(servidor) %></td>
        <td><%= link_to 'Destroy', servidor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servidor', new_servidor_path %>
