<p id="notice"><%= notice %></p>

<p>
  <strong>Noms:</strong>
  <%= @servidor.noms %>
</p>

<p>
  <strong>Dirip:</strong>
  <%= @servidor.dirip %>
</p>

<p>
  <strong>Password:</strong>
  <%= @servidor.decrypt_password %>
</p>



<%= link_to 'Edit', edit_servidor_path(@servidor) %> |
<%= link_to 'Back', servidors_path %>
