 <p id="notice"><%= notice %></p>

<h1>Equipos</h1>

<table id="equipos">
  <thead>
    <tr>
      <th>Nomequip</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
        <td><%= equipo.nomequip %></td>
        <td><%= equipo.descripcion %></td>
        <td><%= link_to 'Show', equipo %>
        <%= link_to 'Edit', edit_equipo_path(equipo) %>
        <%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipo', new_equipo_path %>
