<p id="notice"><%= notice %></p>

<p>
  <strong>Nomequip:</strong>
  <%= @equipo.nomequip %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @equipo.descripcion %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
